.App-container{
  padding :100px;
  margin-top: 5%;
  line-height: 55px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  background-color: rgb(37, 41, 75);  
  
}
#numberButton,#operatorButton,#EqualButton,#clearButton,#deleteButton{
  padding: 20px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
#result{
  border-radius: 5px;
  height: 45px;
  border: none;
  padding-left: 20px;

}
#operatorButton{
  background-color: rgb(245, 165, 114);
}
#deleteButton{
  background-color: rgb(255, 108, 92);
}
#clearButton{
  background-color: rgb(155, 81, 81);
}
.lastdiv{
  margin-left: 3px;
}